.contacts {
  min-height: calc(100vh - 88px);
  padding: 80px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #fff;
}

/* Контейнер */
.contacts__container {
  width: 100%;
  max-width: 1100px;

  display: flex;
  flex-direction: column;
}

/* Заголовки */
.contacts__label {
  font-size: 80px;

  margin-bottom: 16px;
  text-transform: lowercase;
}

.contacts h2 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 64px;
  text-transform: lowercase;
  color: #777;
}

/* Сетка */
.contacts__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

/* Карточки */
.contact__card {
  padding: 48px;
  border: 1px solid #ddd;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  text-decoration: none;
  color: #111;
  font-size: 20px;

  transition: all 0.3s ease;
}

.contact__card svg {
  font-size: 32px;
  opacity: 0.7;
}

.contact__card:hover {
  background: #111;
  color: #fff;
}

.contact__card:hover svg {
  opacity: 1;
}

@media (max-width: 768px) {
  .contacts__grid {
    grid-template-columns: 1fr;
  }
}
